/* src/App.css */
.App {
    max-width: 1900px;
    margin: auto;
    text-align: left;
}

h2 {
    margin: 10px 0;
}

h3 {
    margin: 20px 0 10px;
}

.ant-card {
    text-align: center;
}

.ant-list {
    max-width: 100%;
}

.ant-list-item {
    width: 100%; /* Ensure the list item takes full width */
}

